.dash {
  height: auto;
  width: 100%;
  /* position: absolute; */
  background: white;
  z-index: 999;
  transition: 0.5s all;
  transition-delay: 0.2s;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  padding: 10px;
  font-family: 'Poppins', sans-serif !important;
  float:right;
}
.dash > a {
  padding: 13px 20px 13px 20px;
  text-decoration: none;
  font-size: 13px;
  color: #242333;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  border-radius: 50px;
  margin: 20px 20px;
  transition: background-color 0.3s;
  position: relative;
 
  
}

.dash > a:hover {
  color: white;
  background-color: #01b0d3;
}

